.Glowingcircle {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

.circleStyle {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

.lapsStyle {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
    color: #fff;
    max-width: none;
}

