.Glowingcircle {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#C {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#B {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#cancerned {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#CUAMS {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#cc {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

# {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#cureageous {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#fma {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#fighters {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}


#happyft {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#HS {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#illum {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#jaron {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#KforC {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#lns {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#freshmen {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#lip {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#mw {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#p53 {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#phil {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#rfl {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#rm {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#sh {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#s2s {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#sm {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#T {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#W {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#ES {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#solestrutter {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#sfs {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#jaron {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#pink {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#wff {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#wa {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#wfan {
    margin: 30px auto;
    max-width: 800px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    background-color: #000;
}

#C1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#B1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#cancerned1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#CUAMS1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#cc1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#cureageous1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#fma1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#fighters1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#happyft1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#HS1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#illum1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#jaron1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#KforC1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#lns1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#freshmen1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#lip1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#mw1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#p531 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#phil1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#rfl1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#rm1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#sh1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#s2s1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#sm1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}
#T1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#W1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#ES1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#solestrutter1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#sfs1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#jaron1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#pink1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#wff1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#wa1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#wfan1 {
    color: transparent;
    display: block;
    font-size: 80px;
    font-family: 'Open Sans';
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-top: 100px;
}

#C1:hover {
    color: #fff;
    max-width: none;
}

#B1:hover {
    color: #fff;
    max-width: none;
}

#cancerned1:hover {
    color: #fff;
    max-width: none;
}

#CUAMS1:hover {
    color: #fff;
    max-width: none;
}

#fighters1:hover {
    color: #fff;
    max-width: none;
}

#happyft1:hover {
    color: #fff;
    max-width: none;
}

#1:hover {
    color: #fff;
    max-width: none;
}

#cureageous1:hover {
    color: #fff;
    max-width: none;
}

#fma1:hover {
    color: #fff;
    max-width: none;
}

#cc1:hover {
    color: #fff;
    max-width: none;
}

#HS1:hover {
    color: #fff;
    max-width: none;
}

#illum1:hover {
    color: #fff;
    max-width: none;
}

#jaron1:hover {
    color: #fff;
    max-width: none;
}

#KforC1:hover {
    color: #fff;
    max-width: none;
}

#lns1:hover {
    color: #fff;
    max-width: none;
}

#freshmen1:hover {
    color: #fff;
    max-width: none;
}

#lip1:hover {
    color: #fff;
    max-width: none;
}

#mw1:hover {
    color: #fff;
    max-width: none;
}

#p531:hover {
    color: #fff;
    max-width: none;
}

#phil1:hover {
    color: #fff;
    max-width: none;
}

#rfl1:hover {
    color: #fff;
    max-width: none;
}

#rm1:hover {
    color: #fff;
    max-width: none;
}

#sh1:hover {
    color: #fff;
    max-width: none;
}

#s2s1:hover {
    color: #fff;
    max-width: none;
}

#sm1:hover {
    color: #fff;
    max-width: none;
}

#T1:hover {
    color: #fff;
    max-width: none;
}

#W1:hover {
    color: #fff;
    max-width: none;
}

#ES1:hover {
    color: #fff;
    max-width: none;
}

#solestrutter1:hover {
    color: #fff;
    max-width: none;
}

#sfs1:hover {
    color: #fff;
    max-width: none;
}

#jaron1:hover {
    color: #fff;
    max-width: none;
}

#pink1:hover {
    color: #fff;
    max-width: none;
}

#wff1:hover {
    color: #fff;
    max-width: none;
}

#wa1:hover {
    color: #fff;
    max-width: none;
}

#wfan1:hover {
    color: #fff;
    max-width: none;
}
